<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Class View"
            class="ca.ubc.cs.salee.classdiagram.Viewer"
            id="ca.ubc.cs.salee.classdiagram.view">
      </view>
   </extension>
</plugin>
