<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="NavClus"
            id="navclus.userinterface.classdiagram">
      </category>
      <view
            name="NavClus View"
            icon="icons/sample.gif"
            category="navclus.userinterface.classdiagram"
            class="navclus.userinterface.classdiagram.NavClusView"
            id="navclus.userinterface.classdiagram.navclusview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="navclus.userinterface.classdiagram.navclusview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

    <extension
          point="org.eclipse.jdt.ui.javaEditorTextHovers">
       <hover
             activate="false"
             class="navclus.userinterface.monitor.listeners.JavaSelectionTextHover"
             id="cnavclus.userinterface.monitor.usecontext.hover1">
       </hover>
    </extension>

</plugin>
